<div class = "col-sm-12 col-md-12 col-lg-12">

		<div class = "col-sm-2 col-md-2 col-lg-2">
		</div>

		<div class = "col-sm-8 col-md-8 col-lg-8" style = "text-align: center;">
			<strong><h1 style = "font-size: 110px; text-align: center; font-family: 'Merriweather', cursive;  color: #e53c35; margin-bottom: 0px; ">EDIT SECTION</h1></strong>
			<%= render 'form', subject: @subject, post: @post, section: @section %>
		</div>

		<div class = "col-sm-2 col-md-2 col-lg-2">
		</div>

	</div>






