<div class = "col-sm-12 text-center" id = "herodiv">			
	<strong><h1 style = "font-size: 110px; text-align: center; font-family: 'Merriweather', cursive;  color: #e53c35; margin-bottom: 0px; ">ONCE A DAY</h1></strong>
    <h4 style = "font-size: 20px; text-align: center; font-family: 'Merriweather', cursive;  color: #000000; margin-bottom: 0px; ">GIVING VALUE EACHDAY</h4>                 
</div>

<div class = "col-sm-12 text-center" id = "herodiv2">	

</div>

