<div class = "col-sm-12 text-center" id = "herodiv">			
	<strong><h1 style = "font-size: 110px; text-align: center; font-family: 'Merriweather', cursive;  color: #e53c35; margin-bottom: 0px; ">YOUR POSTS</h1></strong>    
</div>

<div class = "col-sm-12 text-center" id = "herodiv2">	

</div>

