<p id="notice"><%= notice %></p>

<div class = "col-sm-12 col-md-12 col-lg-12">
   <script src="https://gumroad.com/js/gumroad-embed.js"></script>
  <div class="gumroad-product-embed" data-gumroad-product-id="kfAEa" data-outbound-embed="true"><a href="https://gumroad.com/l/kfAEa">Loading...</a></div>
</div>
